<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png') }}" type="image/x-png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>teste</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/favicon.png') }}" alt=""> <h1>TripPlan</h1>
        <details class="user-menu" id="user">
            <summary>
                <i class="ph ph-user"></i>
                <span>Usuario</span>
                <i class="ph ph-caret-down"></i>
            </summary>

            <div class="user-options">
                <a href="#">
                    <i class="ph ph-user"></i>
                    <span>Meu perfil</span>
                </a>

                <a href="#">
                    <i class="ph ph-gear"></i>
                    <span>Configurações</span>
                </a>

                <hr>

                <a href="#" class="logout">
                    <i class="ph ph-sign-out"></i>
                    <span>Sair</span>
                </a>
            </div>
        </details>
    </header>
    
    <main>
        <button id="theme-toggle-btn"><i class="ph ph-moon"></i> Mudar tema</button>
        <article id="title">
            <h2>Olá, Usuário 👋</h2>
            <p>Planeje sua próxima viagem</p>
        </article>
        <section id="resume-container">
            <div class="card meta">
                <div class="meta-img">
                    <section class="meta-content">
                        <div class="title-country">
                            <div id="flag-circle">
                                <i id="flag" class="fi fi-jp"></i>
                            </div>
                            <span id="name-country">Japão</span>
                        </div>
                        <p id="trip-goal">
                            <i class="ph ph-map-pin"></i>
                            <span id="orign">{{resume.origem}}</span>
                            <i class="ph ph-arrow-right"></i>
                            <span id="goal">{{resume.destino}}</span>
                        </p>
                        <p id="trip-time">
                            <i class="ph ph-calendar"></i>
                            <span id="time">15 dias de viagem</span>
                        </p>
                    </section>
                </div>
                <div class="content">
                    <h4 style="font-weight: 500;">Meta da viagem</h4>
                    <div id="meta">
                        <h3>R$ {{resume.custo}}</h3>
                        <div id="progress-meta">
                            <progress value="200" max="{{resume.custo}}"></progress>
                            <p id="guardado"><span class="valor">R$ 10.200</span> guardados</p>
                        </div>
                        <div class="target">
                            <i class="ph ph-target"></i>
                            <article id=target-desc>
                                <h4>Faltam R$ 4.800 para sua meta</h4>
                                <p>Continue assim! Você está no caminho certo.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <button class="cards guardado">
                <h4 class="card-title">Guardado</h4>
                <div class="icone-card poupanca-i">
                    <i class="ph ph-piggy-bank"></i>
                </div>
                <span>R$ 10.200</span>
                <p>+ 500 este mês</p>
            </button>
            <button class="cards cotacao">
                <h4 class="card-title">Cotação hoje</h4>
                <div class="icone-card cotacao-i">
                    <i class="ph ph-currency-dollar"></i>
                </div>
                <span>¥ 1 = R$ 0,0352</span>
                <p>+ 0,45%</p>
            </button>
            <button class="cards viagem">
                <h4 class="card-title">Sua viagem</h4>
                <div class="icone-card viagem-i">
                    <i class="ph ph-calendar"></i>
                </div>
                <span>15 dias</span>
                <p>31/12/2028 - 05/02/2029</p>
            </button>
        </section>

        <section id="dash-container">
            <div class="card deposito-card">
                <h3>Resumo dos depósitos</h3>
                <div class="grafico">
                    <canvas id="depositosChart"></canvas>
                </div>
            </div>
            <section class="dash quick">
                <h3>Ações rápidas</h3>
                <div class="actions">
                    <button class="quick-btn">
                        <i class="ph ph-plus"></i>
                        <div class="button-desc">
                            <h3>Adicionar dinheiro</h3>
                            <p>Guardar dinheiro na poupança</p>
                        </div>
                    </button>
                    <button class="quick-btn">
                        <i class="ph ph-note"></i>
                        <div class="button-desc">
                            <h3>Minhas anotações</h3>
                            <p>Ver todas as anotações</p>
                        </div>
                    </button>
                    <button class="quick-btn">
                        <i class="ph ph-clock"></i>
                        <div class="button-desc">
                            <h3>Ver movimentações</h3>
                            <p>Visualizar todas as transações</p>
                        </div>
                    </button>
                    <button class="quick-btn">
                        <i class="ph ph-note-pencil"></i>
                        <div class="button-desc">
                            <h3>Editar viagem</h3>
                            <p>Modificar detalhes da viagem</p>
                        </div>
                    </button>
                </div>
                <div class="quick-notes">
                    <article><i class="ph ph-note-pencil"></i><h3>Anotação rápida</h3></article>
                    <textarea name="quick-note" id="quick-note" cols="30" rows="10" placeholder="Escreva aqui..."></textarea>
                </div>
            </section>
        </section>
    </main>
    <footer>

    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>